{% extends "base.html" %}

{% block title %}
    <title>About Us Page</title>
{% endblock title %}

{% block body %}

    <body style="background-color:#F9F9F9; font-family: 'Cormorant Garamond', serif;
    font-family: 'Young Serif', serif;">

    <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus euismod libero, ut imperdiet nisl
              venenatis vel. Ut laoreet fringilla orci vitae sodales. Nulla id ligula ut elit bibendum venenatis. Cras
              aliquet
              imperdiet lacus in auctor. Donec auctor urna nec cursus lacinia. Phasellus suscipit massa ut lorem
              ultrices,
              in consectetur neque aliquet.</p>
            <p>Nulla facilisi. Phasellus vel metus et massa pharetra ultrices in a sapien. Praesent iaculis nunc vitae
              tortor
              suscipit, a euismod elit consectetur. Aenean id justo eu tellus cursus tincidunt. Fusce bibendum, massa
              nec
              euismod laoreet, ligula quam laoreet augue, ut blandit elit enim quis erat.</p>
          </div>
          {% comment %} <div class="col-md-6">
            <img src="{% static "img/logo.png" %}" alt="About Us Image" class="img-fluid">
          </div> {% endcomment %}
        </div>
      </div>
    
    </body>

        {% endblock body %}